.breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: .5rem;
}

.breadcrumb li {
  font-size: 1rem;
}

.breadcrumb li a {
  color: #56c9c9;
  display: inline-block;
}

.breadcrumb li.active {
  color: #a29d9f;
}

.breadcrumb .material-icons {
  vertical-align: middle;
  margin-bottom: 3px;
}

.artist-cards .card-deck {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.artist-cards .card-deck .card {
  margin-bottom: 2rem;
}

.card .card-body .circular--img {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.card .card-body .card-title {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 0;
}

.card .card-body .card-text span {
  padding: 0 6px;
}

.card .card-body .star-artist {
  position: absolute;
  top: 20px;
  right: 20px;
}

.buttonoverlap {
  position: absolute;
  z-index: 2;
  top: 30%;
  opacity: 0;
  text-align: center;
  left: 32%;
  background: #fff;
  padding: 4px;
  min-height: 24px !important;
  line-height: 24px !important;
}

.hoverButton:hover .buttonoverlap {
  opacity: 1;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
/*# sourceMappingURL=female-artist.component.css.map */