
  <div class="catlist bg-white">
      <div class="tab">
        <input type="checkbox" id="artists" checked>
        <label class="tab-label" for="artists">Artists</label>
        <div class="tab-content">
          <mat-selection-list #artists>
            <mat-list-option *ngFor="let artists of typesOfArtists" [value]='artists'>
              {{artists}}
            </mat-list-option>
          </mat-selection-list>
        </div>
      </div>
      <div class="tab">
        <input type="checkbox" id="productions" checked>
        <label class="tab-label" for="productions">Productions/Crew</label>
        <div class="tab-content">
          <mat-selection-list #productions>
            <mat-list-option *ngFor="let productions of typesOfProductions" [value]='productions'>
              {{productions}}
            </mat-list-option>
          </mat-selection-list>
        </div>
      </div>
      <div class="tab">
        <input type="checkbox" id="models" checked>
        <label class="tab-label" for="models">Models</label>
        <div class="tab-content">
          <mat-selection-list #models>
            <mat-list-option *ngFor="let models of typesOfModels" [value]='models'>
              {{models}}
            </mat-list-option>
          </mat-selection-list>
        </div>
      </div>
      <div class="tab">
        <input type="checkbox" id="age" checked>
        <label class="tab-label" for="age">Age</label>
        <div class="tab-content">
          <mat-selection-list #age>
            <mat-list-option *ngFor="let age of typesOfAge" [value]='age'>
              {{age}}
            </mat-list-option>
          </mat-selection-list>
        </div>
      </div>
  </div>
