.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

/*form.normal-form {
  margin: 10px;
}*/

.controles-container > * {
  width: 50%;
}
.mat-form-field, .add-bottom-padding, .button-row {
  padding: 0 0.938rem;
}
.add-bottom-padding {
  padding-bottom: 10px;
}
/* radio group */

.full-wd {
  width:100%;
}
.registration-form {
  background:rgba(255, 255, 255, 0.9);
  padding: 0.938rem;
  margin: 0;
  border-radius: .25rem;
}
.mat-radio-button {
  margin-right: 20px !important;
}
.signup {
  background: linear-gradient( rgba(2, 200, 200, 0.85), rgba(41, 70, 102, 0.85) ), url(../../../assets/images/signup-bg.jpg) no-repeat;
  background-size: cover;
  vertical-align: middle;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
  display: flex;
  filter: alpha(opacity=50);
  background-position: 50% 40%;
}
