
    .breadcrumb {
        background-color: transparent;
        padding: 0;
        margin-bottom: .5rem;
        li {
            font-size: 1rem;
            a {
                color: #56c9c9;
                display: inline-block;
            }
            
              &.active { 
                color: #a29d9f;
              }
            
        }
        .material-icons {
            vertical-align: middle;
            margin-bottom: 3px;
        }
    }
    


.artist-cards {
    .card-deck {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        .card {
            margin-bottom: 2rem;
        }
    }
}

.card {
    .card-body {
        .circular--img {
            display: inline-block;
            position: relative;
            width: 200px;
            height: 200px;
            overflow: hidden;
            border-radius: 50%;
          }
          .card-title {
              font-size: 16px;
              margin-top: 10px;
              margin-bottom: 0;
          }
          
        .card-text {
            span {
                padding: 0 6px;
            }
        }
        .star-artist {
            position: absolute;
            top: 20px;
            right: 20px;
        }
    }
}
.buttonoverlap{
    position: absolute;
    z-index: 2;
    top: 30%;
    opacity: 0;
    text-align: center;
    left: 32%;
    background: #fff;
    padding: 4px;
    min-height: 24px!important;
    line-height: 24px!important;
}
.hoverButton:hover .buttonoverlap{ 
    opacity: 1;
    transition: all .3s ease-in-out;
}