/* You can add global styles to this file, and also import other style files */
/* Move down content because we have a fixed navbar that is 3.5rem tall */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
//@import "node_modules/bootstrap/scss/bootstrap";
html {
  position: relative;
  min-height: 100vh;
  padding-bottom: 100px;
}
body {
  font-family: source sans pro,sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #373a3c;
  background-color: #f0f1f2;
  padding-top: 3.9rem;
  margin: 0;
}
.parent {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: table;
}
.child {
  display: table-cell;
  vertical-align: middle;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
p {
  font-size: 14px;
}
footer {
  background: #f5f5f5;
  margin-top: 3rem;
  padding: 1rem 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}
a {
  color: #02c8c8;
}
a:hover {
  color: #f92f74;
}
.navbar {
  background-color: #fff;
  //padding: 1rem;
  box-shadow: 0 1px 6px rgba(57,73,76,.35);
}
.mat-flat-button.mat-orange {
  background-color: #f5a623;
  color:#fff;
}
.mat-flat-button.mat-sunset {
  background-color: #FB6542;
  color: #fff;
}
.mat-flat-button.mat-sky {
  background-color: #375E97;
  color: #fff;
}
.mat-flat-button.mat-marmalade {
  background-color: #F25C00;
  color: #fff;
}
.mat-flat-button:hover {
  opacity: 0.9
}
.carousel-indicators { margin:0; }
.production-houses img {
  height: 80px;
  padding: 15px;
}
.logo img {
  //vertical-align: middle;
  display: block;
}
.title {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-top: 1.25rem;
}
.testimonial {
  padding: 15px;
}
.text-darkblue {
  color: #294666;
}
.text-orange {
  color: #fdb020;
}
.text-lightblue {
  color: #02c8c8;
}
.text-pink {
  color: #ff4081;
}

.text-lightten {
  color: #ff4081;
}

.text-gray {
  color: #888888;
}
.section-title h4 {
  margin:0;
  line-height:normal;
}
.top-stories-heading h4 {
  line-height:0.8;
}
.title-divider {
  position: relative;
  margin-bottom: 21px;
}
.title-divider.left-tri:before {
  left: 0;
  content: url(./assets/images/icons/black-tri-left.svg);
}
.title-divider.right-tri:before {
  left: calc(100% - 15px);
  content: url(./assets/images/icons/black-tri-right.svg);
}

/*.et_pb_divider_4:before {
  border-top-color: #000000;
  border-top-width: 3px;
}*/

.title-divider:before {
  border: none;
  width: 15px;
  position: absolute;
  top: -5px;
  border-top-color: #000000;
  z-index: 10;
  height: 1px;
}
.title-divider:after {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  border-top-style: solid;
  content: "";
  border-top-color: #000000;
  border-top-width: 3px;
  transform: scaleX(-1);
}

.left-sidebar .counter-card::before {
  content: "1";
  position: absolute;
  left: -12px;
  background-color: #ff4081;
  color: #fff;
  font-family: 'Oswald',sans-serif;
  font-size: 18px;
  padding: 0 8px;
  font-weight: 600;
  border-radius: 4px 4px 4px 0;
}
.left-sidebar .counter-card::after {
  content: "";
  position: absolute;
  top: 43px;
  left: -12px;
  border-top: solid 9px #ea3271;
  border-left: solid 12px transparent;
  border-right: solid 0px transparent;
}
.left-sidebar .counter-card:nth-child(2)::before {
  content: "2";
}
.left-sidebar .counter-card:nth-child(3)::before {
  content: "3";
}
.left-sidebar .counter-card:nth-child(4)::before {
  content: "4";
}
.block-title h4 {
  border-bottom: solid 1px #ddd;
  padding-bottom: 6px;
}
.mat-card:not([class*=mat-elevation-z]), .card {
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.12), 0 1px 3px 0 rgba(0,0,0,.12);
  border:0;
}
.latest-post .material-icons {
  vertical-align: middle;
  opacity: 0.5;
  margin-top: -4px;
  font-size: 21px;
}

.section-title {position:relative;}
  .section-title .absolute-btn {
    position: absolute;
    right: 0;
    top: 8px;
  }
.latest-post .card-title {
  font-size:1.2rem;
}
button:focus {
  outline: none;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #ff4081;
}
.search-box .fa {
  font-size:18px;
  top:4px;
}
.wb-50 {
  width: 49%;
}
.mat-button, .mat-flat-button, .mat-icon-button, .mat-stroked-button {
  min-height: 42px!important;
}
.search-box.input-group[_ngcontent-c1] .form-control[_ngcontent-c1] {
  min-height: 42px!important;
}
.navbar-light .navbar-nav .nav-link {
  font-size: 1rem;
}
.testimonial .carousel-indicators {
  left: 0;
  top: auto;
  bottom:0;
}

  /* The colour of the indicators */
  .testimonial .carousel-indicators li {
    background: #a3a3a3;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    border:0;
  }

  .testimonial .carousel-indicators .active {
    background: #ff4081;
  }
.dropdown-toggle::after {
  vertical-align: .15em;
}
.dropdown-item {
  text-align: center;
  padding: .6rem 1.5rem;
}
  .dropdown-item.active, .dropdown-item:active, .dropdown-item:hover, .dropdown-item:focus {
    background-color: transparent;
    color: #ff4081;
  }
.dropdown-btn .mat-flat-button {
  display: inherit;
  margin-bottom: .6rem;
  width: 90%;
  left: .6rem;
}
@media (min-width: 1440px) {
  .container {
    min-width: 978px;
    max-width: 1280px;
  }
}
@media (min-width: 992px) {
  .navbar-nav .dropdown:hover .dropdown-menu {
    opacity: 1;
    transform: translate3d(-50%,0,0);
    visibility: visible;
  }

  .navbar-nav .dropdown .dropdown-menu {
    z-index: 1030;
  }

  .navbar-nav .dropdown-menu {
    left: 50%;
    min-width: 320px;
    /*padding: 1rem;*/
    box-shadow: 0 1.5rem 4rem rgba(22,28,45,.15);
    visibility: hidden;
    opacity: 0;
    transform: translate3d(-50%,20px,0);
    transition: all .3s ease-in-out;
    transition-property: opacity,visibility,transform;
    transform-origin: top center;
  }

  .navbar-nav .dropdown-menu {
    display: block !important;
    min-width: 180px;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: none;
  }
  .dropdown-item {
    padding: .5rem 1.5rem;
  }
  .dropdown-menu::after {
    position: absolute;
    top: -8px;
    left: 45%;
    display: inline-block;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
    border-left: 8px solid transparent;
    content: '';
  }

  .dropdown-menu::before {
    position: absolute;
    top: -10px;
    left: 44%;
    display: inline-block;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ddd;
    border-left: 10px solid transparent;
    content: '';
  }
}
