.nav-link {
  cursor:pointer;
}

.tag-pill{
  cursor:pointer;
}
.home-page .banner {
  background: url("assets/images/banner.jpg") no-repeat rgba(0,0,0,.3);
  box-shadow: inset 0 8px 8px -8px rgba(0,0,0,.3), inset 0 -8px 8px -8px rgba(0,0,0,.3);
  background-size: cover;
}
.banner {
  background: #333;
  padding: 2rem;
  margin-bottom: 2rem;
}
.banner h3 { color:#fff;}
.bg-gradient {
  background-color: rgba(0,0,0, 0.5);
  padding: 30px;
  border-radius: 4px;
}
.search-box {
  position:relative;
}
.search-box .form-control-feedback {
  position: absolute;
  left: 4px;
  z-index: 33;
  opacity: 0.6;
  padding: 10px 8px;
}
.search-box.input-group .form-control {
  padding-right: 20px;
  padding-left: 40px;
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
}
.carousel-control-next, .carousel-control-prev {
  background: #fff;
  width: auto;
  height: auto;
  display: grid;
  bottom: auto;
  top: 20px;
  padding: 4px;
  color: #ff4081;
  box-shadow: 0 1px 5px 0.3px rgba(0,0,0,.18);
  -webkit-box-shadow: 0 1px 5px 0.3px rgba(0,0,0,.18);
  -moz-box-shadow: 0 1px 5px .3px rgba(0,0,0,.18);
  border-radius: 50% 50% 50% 50%;
  -webkit-border-radius: 50% 50% 50% 50%;
  -moz-border-radius: 50% 50% 50% 50%;
}
#productionHouses {
  background: #fff;
  padding: 15px;
}
